body{
    background-image: url('./Source/hamish-weir-aYEUXnVG8tg-unsplash.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.4);
    /* background-blend-mode: lighten; */
}

@media (max-width: 768px){
    #buttons{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    #char{
        height: 30vh;
    }
}

img#logo{
    width: 100px;
}

img.logo{
    width: 50px;
}

button.button{
    width: 100px;
}