body{
    background-image: url('./Source/hamish-weir-aYEUXnVG8tg-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

img#logo{
    width: 100px;
}

img.logo{
    width: 50px;
}